<div class="page-header text-center">
    <h1>{{ 'Products' | translate }}</h1>
</div>

<div class="container">
    <div id="projects-container" class="row">
        <article *ngFor="let product of products" (click)="onSelectProduct(product)" [class.selected]="product === selectedProduct"
            class="design product col-xs-12 col-sm-6 col-md-4 anima fade-up in">
            <h4 class="text-center">{{product.name}}</h4>
            <a href="./product/{{product.id}}">
                <div class="img-box">
                    <img class="img-responsive project-image" src={{product.imagePath}} alt="" />
                </div>
            </a>
            <div class="text-center">
                {{product.price}} {{ 'MDL' | translate }}
            </div>
            <div class="text-center">
                <a href="./product/{{product.id}}">{{ 'View Details' | translate }}</a>
            </div>
        </article>
    </div>
</div>