<section id="about" class="padding-top-bottom ">
    <div class="container">
        <div class="row">
            <div class="col-md-4 anima fadeInLeft in">
                <header class="section-header cta-message">
                    <h2>{{ 'About company' | translate }}</h2>
                    <h4>{{ 'Company motto' | translate }}</h4>
                </header>
            </div>
            <div class="col-md-8 cta-message anima fade-up in">
                <p>{{ 'Company description' | translate }}</p>
            </div>
        </div>
    </div>
</section>