<div class="page-header text-center">
    <h1>{{ 'Briquettes' | translate }} pini-kay</h1>
</div>

<div class="text-center">
    <h4>{{ 'Company motto2' | translate }}</h4>
</div>

<div class="container">
    <div class="item m-center" style=" height: 380px; background-image: url(assets/img/20116850_o.jpg); background-position:center;">
    </div>
    <div class="center-box">
        <span class="overlay-bg"></span>
        <div class="container-fluid">
            <div class="text-center anima fade-up in">
                <a class="btn btn-store smooth-scroll" href="./products">{{ 'browse the goods' | translate }}</a>
            </div>
        </div>
    </div>
</div>


<section id="products" class="padding-top-bottom">
    <products></products>
</section>

<section class="gray-bg padding-top-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-8 anima fade-right in">
                <h3 class="center cta-message">{{ 'Free shipping only' | translate }} <strong><span id="countdown">2 {{ 'days' | translate }}</span></strong></h3>
            </div>
            <div class="col-md-4 text-center anima fade-left d1 in">
                <a class="btn btn-store cta-button smooth-scroll" href="./order">{{ 'Order now' | translate }}</a>
            </div>
        </div>
    </div>
</section>

<section id="about" class="padding-top-bottom">
    <div class="container">
        <about></about>
    </div>
</section>

<section id="newsletter" class="light-typo dark-bg padding-top-bottom">
    <div class="container ">
        <header class="section-header text-center">
            <h2>{{ 'Company motto' | translate }}</h2>
        </header>
    </div>
</section>

<section id="order" class="gray-bg padding-top-bottom ng-scope">
    <div class="container">
        <order></order>
    </div>
</section>

<section id="cta" class="padding-top-bottom color-bg light-typo">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4 col-sm-4 news anima fade-up in">
                <img class="iconBig" src="assets/img/159-trophy.svg" alt="" />
                <h3>{{ 'Quality guaranteed' | translate }}</h3>
            </div>
            <div class="col-md-4 col-sm-4 news anima fade-up d1 in">
                <img class="iconBig" src="assets/img/177-truck.svg" alt="" />
                <h3>{{ 'Home delivery' | translate }}</h3>
            </div>
            <div class="col-md-4 col-sm-4 anima fade-up d2 in">
                <img class="iconBig" src="assets/img/144-lock.svg" alt="" />
                <h3>{{ 'Secure payment' | translate }}</h3>
            </div>
        </div>
    </div>
</section>

<section id="contact" class="gray-bg padding-top-bottom ng-scope">
    <div class="container">
        <contacts></contacts>
    </div>
</section>