
img {
    vertical-align: middle;
}

img {
    border: 0;
}

.logo-container .logo {
    overflow: hidden;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    float: left;
}

.logo-container .logo img {
    width: 100%;
}


.dropdown-toggle:hover, .open .dropdown-toggle.btn-default {
    background-color: #000;
    color: #FFF;
}

